<template>
    <div id="app">
        <lb-vue-tree
            v-model="data"
            :async-method="getData"
            v-on:itemclick="itemClick"
            :clickonopen="true"
            :showvalue="true"
            :draggable="true"
            v-on:dragend="dragEnd"
            :showsearch="true"
            search-placeholder="Search {level}: "
            display-field="text">
            <template slot="rootitem">
                <span>Root item</span>
            </template>
            <template v-slot:menu="{item}">
                <ul>
                    <li v-on:click="logValue(item)">New</li>
                    <li>Edit</li>
                </ul>
            </template>
            <template v-slot:itemcontent="{item}">
                <div class="item-inputs">
                    Min: <input type="text" v-model="item.text">
                    Max: <input type="text">
                    Aktivno: <input type="checkbox">
                </div>
            </template>
        </lb-vue-tree>
    </div>
</template>

<script>

export default {
    data()
    {
        return {
            data: [],
        };
    },
    async created()
    {
        // make an initial load of data
        this.data = await this.getData(null);
    },
    methods: {
        itemClick(item)
        {
            console.log('itemClick', item.text);
        },
        logValue(item, parent)
        {
            console.log('logValue', item, parent);
        },
        dragEnd(data)
        {
            // data.start holds the item you are dragging
            // data.end holds the item dragged on
            // data.position holds the postion related to end position (upper, center, lower)
            console.log(data.start, data.end, data.position);
        },
        async getData(item)
        {
            if (item != null)
            {
                // fetch data from server for specific node based on data from item, for example:
                if (item.id === 1 || item.id === 2)
                {
                    return [
                        {
                            id: 3,
                            text: 'Level 2, item 1',
                        },
                        {
                            id: 4,
                            text: 'Level 2, item 2',
                        },
                    ];
                }

                return [];
            }

            return [
                {
                    id: 1,
                    text: 'Level 1, item 1',
                },
                {
                    id: 2,
                    text: 'Level 1, item 2',
                },
            ];
        },
    },
};

</script>

<style scoped>
    .item-inputs input {
        max-width:50px;
        display: inline-block;
    }
</style>
